<h1 class="title">Pagina de home</h1>


<h3 style="text-align: center;">Listado de productos</h3>


<div class="btn-filter">


<button onclick=filtrar("Remera") class="btnFilter">Remeras</button>
<button onclick=filtrar("Pantalón") class="btnFilter">Jeans</button>
<button onclick=filtrar("Camisa") class="btnFilter">Camisas</button>

</div>



<div id="filtrado"></div>
<div id="productList" class="productList"></div>


<div class="homeP">
 {{#each products}} {{!--le indico de que array voy a renderizar --}}
 <div style="display: flex; flex-direction: row; align-items: center">
    <div class="card tarjeta" style="width: 18rem; border: 2px solid">
        <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body" style="text-align:center">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">Precio: ${{this.price}}</p>
            <p class="card-text">Disponibles: {{this.stock}}</p>
        </div>
    </div>
{{/each}}
</div>
<br>


<script src="/socket.io/socket.io.js"></script>

<script src="/js/home.js"></script>